{% extends '_base.html' %}


{% block title %}
    Покупка
{% endblock %}

{% block content %}
    <h1>
        Страница покупки
    </h1>
    <p>
        Цена: 39.00$
    </p>
    <form action="{% url 'charge' %}" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_key }}" data-description="All Books" data-amount="3900" data-locate="auto"></script>
    </form>

{% endblock %}
