<h1>Все книги</h1>
{% for book in books %}
{% if books.count > 1 %}<p>
    {{ forloop.counter }}
</p>{% endif %}
<ul>
    <li>
        {{ book.title }}
    </li>
    <li>
        {{ book.subtitle }}
    </li>
    <li>
        {{ book.author }}
    </li>
    <li>
        {{book.isbn }}
    </li>
</ul>
{% empty %}
<p>
    Список книг пока что пуст. :(
</p>
{% endfor %}