{% extends '_base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    Выход
{% endblock title %}

{% block content %}
    <h2>
        Выход
    </h2>
    <p>
        Вы действительно хотите выйти?
    </p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-danger" type="submit">Выйти</button>
    </form>
{% endblock content %}