{% extends '_base.html' %}


{% block title %}
    Поиск
{% endblock %}

{% block content %}
    <h1>
        Результаты поиска
    </h1>
    {% for book in book_list %}
        <div>
            <h3>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </h3>
            <p>
                Author: {{ book.author }}
            </p>
            <p>
                Price: {{ book.price }}
            </p>
        </div>
    {% endfor %}
{% endblock %}
